{% extends 'front_layout.twig' %}

{% block content %}
<h1> Liste des jeux </h1>
<div class="d-flex justify-content-end mb-2">
    <a href="{{ path('app_game_new')}}" class="btn btn-info">Nouveau jeu ?</a>
</div>
<div> Il y a {{ count }} jeux </div>
<ul class="list-group">
{% for object in entities %}
    <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
        {% if object.image is not empty %}
        <img src={{ asset(object.image.webPath)}} alt="{{ object.title }}" style="max-width: 150px">
        {% endif %}
            <h5>{{object.title}}</a></h5>
            {# <h5>{{object.categories}}</a></h5> #}
            {% if object.user is not empty %}
            <div> {{object.user.username}}</div>
            {% endif %}
            <span class="badge bg-info">{{object.support}}</span>
            <div>
                {% if is_granted('EDIT', object) %}
                <a class="btn btn-dark" href="/game/{{object.id}}/edit"><i class="fas fa-edit"></i></a>
                <a class="btn btn-danger" href="/game/{{object.id}}/delete"><i class="fas fa-trash"></i></a>
                {% endif %}
            </div>
        </div>

    </li>
{% endfor %}

{# {{ dump(entities) }} #}
</ul>
<div class="my-3">
    {% include "decorator/_pagination.html.twig" with {"route": "app_game_list"} %}
</div>
{% endblock %}