{% extends 'front_layout.twig' %}

{% block content %}
<h1> Liste des jeux </h1>
<div class="d-flex justify-content-between align-items-center mb-3">
    <form action="" method='GET'>
            <div class="input-group mb-3">
                <input type="text" name="s" placeholder="{{ 'game.search'|trans}}" class="form-control" value = '{{ app.request.get("s", "") }}'>
                <button type="submit" class="btn btn-light"><i class="fas fa-search"></i></button>
            </div>
    </form>
</div>
<div class="d-flex justify-content-end mb-2">
    <a href="{{ path('app_game_new')}}" class="btn btn-info">Nouveau jeu ?</a>
</div>
{% if count == 1 %}
    <div> Il y a {{ count }} jeu </div>
{% else %}
    <div> Il y a {{ count }} jeux </div>
{% endif %}
<ul class="list-group">
{% for object in entities %}
    <li class="list-group-item">
        <div class="d-flex justify-content-between align-items-center">
        {% if object.image is not empty %}
        <img src={{ asset(object.image.webPath)}} alt="{{ object.title }}" style="max-width: 150px">
        {% endif %}
            <h5>{{object.title}}</a></h5>
            {# <h5>{{object.categories}}</a></h5> #}
            {% if object.user is not empty %}
            <div> {{object.user.username}}</div>
            {% endif %}
            <span class="badge bg-info">{{object.support}}</span>
            <div>
                {% if is_granted('EDIT', object) %}
                <a class="btn btn-dark" href="/game/{{object.id}}/edit"><i class="fas fa-edit"></i></a>
                <a class="btn btn-danger" href="/game/{{object.id}}/delete"><i class="fas fa-trash"></i></a>
                {% endif %}
                <a href="{{ path('app_game_like', {'id': object.id}) }}" class="btn-like btn btn-warning position-relative">
                <i class="fas fa-star"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ object.likes|length }}
                </span>
            </a>
            </div>
        </div>

    </li>
{% endfor %}

{# {{ dump(entities) }} #}
</ul>
<div class="my-3">
    {% include "decorator/_pagination.html.twig" with {"route": "app_game_list"} %}
</div>
{% endblock %}